<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Comment Detail</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
  </style>
</head>

<body>
  <div class="container">
    <h2>Comment Detail</h2>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Comment ID: {{ comment.comment_id }}</h5>
        <p class="card-text">User ID: {{ comment.user.user_id }}</p>
        <p class="card-text">Post ID: {{ comment.post.post_id }}</p>
        <p class="card-text">Comment Text: {{ comment.comment_text }}</p>
      </div>
    </div>
  </div>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
